* {
    margin: 0px ;
    font-family: "Segoe UI";
    color: white;
}

html, body {
    height: 100%;
}

body {
    /*background: url("../img/stars.jpg");*/
    background: black;
}

li {
    list-style-type: none ;
    margin: 0px;
}

a:link {
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}

#rideau {
    display: none ;
}

/*-------------------header-------------------*/

header {
    position:fixed;
    width: 100% ;
    left: 0px;
    top: 0px;
    background: black;
}

#menu-page {
    /*background: green ;*/
    background: transparent;
    padding: 10px;
}

#menu-page ul {
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

#menu-page ul li {
    margin-right: 20px;
    font-size: 2em;
}

#menu-page ul li:hover{
    cursor: pointer;
}

#home:hover {
    color: #e67e22;
    transform: scale(1.2);
}

#projects:hover {
    color: #2ecc71;
    transform: scale(1.2);
}

#works:hover {
    color: #3498db;
    transform: scale(1.2);
}
/*-------------------main-------------------*/
main {
    /*background: aqua;*/
    margin-top: 50px ;
    height: 100%;
}

#page-home {
    /*background: red ;*/
    background: transparent ;
    max-width: 600px;
    height: 100%;

    display: none;
    /*display: flex;*/
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;

}

#page-projects {
    /*background: chartreuse ;*/
    max-width: 700px;
    height: 100%;
    margin: auto;

    /*display: none;*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;

}

#page-works {
    /*background: darkgoldenrod;*/
    background: transparent;
    display: none;
    /*display:flex;*/
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    max-width: 600px;
    margin: auto;
}

.menu-active {
    display: flex;
    text-decoration: underline;
}

/*-------------------page-home-------------------*/
/*#page-home *{*/
    /*margin: auto;*/
/*}*/

#self-description {
    /*background: pink;*/
}

hr {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border: solid white 1px;
}

.self-introduction {
    margin-top: 10px;
    text-align: center;
    overflow-wrap: break-word;

}

#pdp {
    display: flex;
    justify-content: center;
    border-radius:100px;
    /*background: darkblue;*/
    background: transparent ;
}

#pdp img{
    border-radius:100px;
}

#contacts ul li{
    margin: 0px;
}

#contacts ul li a img:hover{
    transform: scale(1.5);
}


#contacts ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

#mail {
    display: flex;
    justify-content: center;
}

/*-------------------page-projects-------------------*/
.project {
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: blue;*/
    background: transparent;
    cursor: pointer;

}

.project * {
    text-align: center;
}

.project h1, .project h2 {

    font-weight: normal;
    font-size: medium;

}

.fond-project {
    width: 100%;
    height: 100%;
}

@keyframes minizoom {
    from {
        background-size: 200px;
        /*transform: scale(0);*/
    }
    to {
        background-size: 210px;
        /*transform: scale(5);*/
    }
}


.project:hover .fond-project{
    animation-name: minizoom;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#fond-first-year {
    background: url("../img/iggl1.jpg");
    background-size: 200px;
}

#fond-scnd-year {
    background: url("../img/iggl2.jpg");
    background-size: 200px;
}

#fond-thirst-year {
    background: url("../img/iggl3.jpg");
    background-size: 200px;
}
#fond-fourth-year {
    background: url("../img/iggl4.jpg");
    background-size: 200px;
}

#fond-fifth-year {
    background: url("../img/iggl5.jpg");
    background-size: 200px;
}

/*------Modal Project------*/
.description-project {
    display: none;
}

#modal-out {
    width: 100%;
    height: 100%;
    background: rgba(58, 54, 70, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
}

#modal-in {
    width: 600px;
    background: darkred;
    margin: auto;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*-------------------page-works-------------------*/
.work {
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 250px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: blue;*/
    background: transparent;
}

.tr-mission {
    display: none;
}

.seemore-work {
    color: blue;
}

.seemore-work:hover {
    cursor: pointer;
    text-decoration: underline;
}

#modal-work-out {
    width: 100%;
    height: 100%;
    background: rgba(58, 54, 70, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
}

#modal-work-in {
    width: 600px;
    background: #403a39;
    margin: auto;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

/*-------------------modal general-------------------*/
#modal-fond {
    width: 100%;
    height: 100%;
    background: rgb(82, 77, 97);
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(200px);
    display: none;
}