* {
    margin: 0px ;
    font-family: "Segoe UI";
}

li {
    list-style-type: none ;
    margin: 0px;
}

#rideau {
    display: none ;
}

/*-------------------header-------------------*/
#menu-page {
    background: green ;
}

#menu-page ul {
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

#menu-page ul li {
    margin-right: 20px;
}

/*-------------------main-------------------*/
main {
    background: aqua;
}

#page-home {
    background: red ;
    height: 100%;
}

#page-projects {
    background: chartreuse ;
}

#page-works {
    background: darkgoldenrod;
}

/*-------------------page-home-------------------*/
#page-home *{
    margin: auto;
}

#self-description {
    background: pink;
    max-width: 500px;
}

.self-introduction {
    text-align: center;
    overflow-wrap: break-word;
}

#pdp {
    max-width: 200px;
}

#pdp img{
    border-radius:100px;
}

#contacts ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contacts ul li{
    margin: 0px;
}

/*-------------------page-projects-------------------*/
.project {
    border: 2px solid black;
}
/*-------------------page-works-------------------*/
.work {
    border: 2px solid darkgray;
}