* {
    margin: 0px ;
    font-family: "Segoe UI";
}

html, body {
    height: 100%;
}

li {
    list-style-type: none ;
    margin: 0px;
}

#rideau {
    display: none ;
}

/*-------------------header-------------------*/
#menu-page {
    background: green ;
}

#menu-page ul {
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

#menu-page ul li {
    margin-right: 20px;
}

/*-------------------main-------------------*/
main {
    background: aqua;
    height: 100%;
}

#page-home {
    background: red ;
    /*-------*/
    height: 100%;

    display: flex;
    /*display: none;*/
    flex-direction: column;
}

#page-projects {
    background: chartreuse ;
    /*display: none;*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    max-width: 600px;
    margin: auto;
}

#page-works {
    background: darkgoldenrod;
    display: none;
    /*display:flex;*/
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    max-width: 600px;
    margin: auto;
}

/*-------------------page-home-------------------*/
#page-home *{
    margin: auto;
}

#self-description {
    background: pink;
    max-width: 500px;
}

.self-introduction {
    text-align: center;
    overflow-wrap: break-word;

}

#pdp {
    display: flex;
    justify-content: center;
    border-radius:100px;
    background: darkblue;
}

#pdp img{
    border-radius:100px;
}

#contacts ul li{
    margin: 0px;
}

#contacts ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

/*-------------------page-projects-------------------*/
.project {
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: blue;
}

.project * {
    text-align: center;
}

.project h1, .project h2 {

    font-weight: normal;
    font-size: medium;

}

.fond-project {
    width: 100%;
    height: 100%;
}

#scnd-year {
    background: url("../img/iggl2.png");
    background-size: 500px;
}

/*-------------------page-works-------------------*/
.work {
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 250px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: blue;
}

.tr-mission {
    display: none;
}